.header-container {
  position: relative;
  width: 100%;
  height: 20vh;
  /* background-image: url('../assets/mainimage.jpg'); */
  background-image: url('../assets/aa.jpg');

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  animation: fadeIn 1s ease-in-out;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.header-container.expanded {
  height: 25vh; /* Increase height when category is selected */
}

/* Logo */
.logo-container {
  margin-top: 1rem;
  display: flex;
  transform: translateY(20px);
  flex-direction: row;
  width: 100%;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.logo {
  max-width: 200px; 
  max-height: 150px;
  transform: translateY(-2rem); 
  object-fit: cover; /* Ensures proper cropping */
  transition: transform 0.5s ease-in-out;
}

.logo.show {
  transform: translateY(-3rem); /* Move up when category is selected */
  scale: 0.8;
  animation: scaledd 0.5s ease-in-out;

}
  .social-icons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .social-icon {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .whatsapp-icon {
    color: #25D366;
  }
  
  .instagram-icon {
    color: #C13584;
  }
  
  .waze-icon {
    color: #2C2C2C;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  
  .back-button {
    position: absolute;
    top: 10px; /* Top-left corner */
    left: 10px;
    padding: 10px;
    background-color: #d15fc8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Hidden by default */
  }
  
  .back-button.show {
    display: block;
    animation: fadeInButton 0.5s ease-out;
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes fadeInButton {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes scaledd {
    0% {
      scale: 1;
    }
    100% {
      opacity: 0.9;
    }
  }
  